<DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1-transitional.dtd"></DOCTYPE>
<html>
  <head>
    <title>Devils Dictionary</title>
    
      <%=stylesheet_link_tag  "/stylesheet/styles", :media => "all" %>
  </head>
  <body= "body">
 
      </div>
<div id="main">
    <%= yield  :layout%>
    </div><br/>
<p></p>

    </div>
  </div>
</body>
</html>
  </body>
</html>